---
import { Picture } from "@astrojs/image/components";
import { getFormattedDate } from "@utils/all";
import { getSanityImageURL } from "@utils/sanity";

const { post, index } = Astro.props;
---

<li>
  <a href={`/blog/${post.slug.current}`}>
    <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
      <Picture
        src={getSanityImageURL(post.mainImage).url()}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        aspectRatio="16:9"
        alt="Thumbnail"
        loading={index === 0 ? "eager" : "lazy"}
        class="w-full rounded-md aspect-video"
      />
      <div>
        <span
          class="text-blue-400 uppercase tracking-wider text-sm font-medium">
          {post.category}
        </span>

        <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1">
          {post.title}
        </h2>

        <div class="flex gap-2 mt-3">
          <span class="text-gray-400">
            {post.author.name}
          </span>
          <span class="text-gray-400">•</span>
          <time class="text-gray-400" datetime={post.publishedAt}>
            {getFormattedDate(post.publishedAt)}
          </time>
        </div>
      </div>
    </div>
  </a>
</li>
